<div class="message-card">
    <div class="message-card-content">
        {{{markdown text}}}
    </div>

    <div class="message-card-footer">
        <span class="user-avatar-small" style="background-image: url('{{{avatar user.avatar}}}');"></span>
        <a href="https://github.com/{{user.name}}" target="_blank">{{user.name}}</a>
        &nbsp;&nbsp;—&nbsp;&nbsp;
        <a href="/message/{{id}}#{{id}}" class="timelink" target="_blank">
            <time datetime="{{{datetime time}}}" title="{{{dateformat time}}}">
                {{{dateformat time}}}
            </time>
        </a>
    </div>
</div>
