<div id="room-info-{{id}}" class="room-info" data-id="{{id}}">
    <h2>{{name}}</h2>
	{{#if description}}<p>{{description}}</p>{{/if}}
    <div id="room-info-people-{{id}}" class="room-info-people">
		{{#each users}}
            <a href="https://github.com/{{name}}" target="_blank" draggable="true"
               ondragstart="event.dataTransfer.setData('text/plain', '@{{name}}')">
                <img id="room-info-{{this.id}}-person-{{id}}"
                     src="{{avatar}}&s=30" alt="{{name}}"
                     title="{{name}}">
            </a>
		{{/each}}
    </div>
</div>
