<div id="room-info-{{id}}" class="room-info" data-id="{{id}}">
    <div class="chat-menu">
        <a href="/rooms/{{id}}/leave"><i class="fa fa-sign-out"></i></a>
    </div>
    <h2>{{name}}</h2>
    {{#if description}}{{{markdown description}}}{{/if}}
    <div id="room-info-people-{{id}}" class="room-info-people">
        {{#each users}}
            <a href="https://github.com/{{name}}" target="_blank" draggable="true"
               ondragstart="event.dataTransfer.setData('text/plain', '@{{name}}')">
                <div id="room-info-{{this.id}}-person-{{id}}"
                     class="user-avatar user-activity user-activity-{{id}}"
                     style="background-image: url('{{{avatar avatar}}}');"
                     title="{{name}}"
                     data-state="{{state}}">
                </div>
            </a>
        {{/each}}
    </div>
</div>
