<div id="room-info-{{id}}" class="room-info" data-id="{{id}}">
    <div class="chat-menu">
        <a href="/rooms/{{id}}/leave" title="leave room"><i class="fa fa-sign-out"></i></a>
    </div>
    <h2>{{name}}</h2>

    <div class="room-desc">
        {{#if description}}{{{markdown description}}}{{/if}}
    </div>
    <div id="room-info-people-{{id}}" class="room-info-people">
        {{#each users}}
            <a id="room-info-{{../id}}-person-{{id}}"
               href="https://github.com/{{name}}" target="_blank" draggable="true"
               ondragstart="event.dataTransfer.setData('text/plain', '@{{name}}')">
                <div class="user-avatar"
                     style="background-image: url('{{{avatar avatar}}}');"
                     title="{{name}}">
                    <span class="user-activity user-activity-{{id}}" data-state="{{state}}"
                          title="{{activity-state state}}"></span>
                </div>
            </a>
        {{/each}}
    </div>
</div>
