{{#each messages}}
    <div class="starred-message">
        <div class="starred-message-stars">
            <i id="message-starred-{{messageId}}" class="fa fa-star star-message" data-message-id="{{messageId}}"
               data-stars="{{stars}}" data-starred="{{#if starred}}1{{else}}0{{/if}}"></i>
        </div>

        <div class="starred-message-text"></div>
        <div class="starred-message-meta">
            {{user.name}}
            –
            <a href="/message/{{messageId}}#{{messageId}}" target="_blank">
                <time class="timelink" datetime="{{{datetime time}}}"></time>
            </a>
        </div>
    </div>
{{/each}}
