<div class="trello-card {{#if closed}}trello-card-closed{{/if}}">
    <div class="trello-labels">
		{{#each labels}}
            <div class="trello-label" data-color="{{color}}" title="{{name}}"></div>
		{{/each}}
    </div>

    <div class="trello-card-title">
		{{name}}
    </div>
    <div class="trello-badges">
		{{#if badges.votes}}
            <div class="trello-votes">
                <i class="fa fa-fw fa-thumbs-up"></i>
				{{pluralizeCount badges.votes "vote" "votes"}}
            </div>
		{{/if}}

		{{#if badges.comments}}
            <div class="trello-comments">
                <i class="fa fa-fw fa-comment"></i>
				{{pluralizeCount badges.comments "comment" "comments"}}
            </div>
		{{/if}}

		{{#if badges.attachments}}
            <div class="trello-attachments">
                <i class="fa fa-fw fa-paperclip"></i>
				{{pluralizeCount badges.attachments "attachment" "attachments"}}
            </div>
		{{/if}}

        <div class="trello-card-footer">
            #{{idShort}}
            &nbsp;&nbsp;—&nbsp;&nbsp;
            <a href="{{url}}" target="_blank">VIEW ON TRELLO</a>
            {{#if closed}}
                &nbsp;&nbsp;—&nbsp;&nbsp;
                <span>ARCHIVED</span>
            {{/if}}
        </div>
    </div>
</div>
